# Terraform
terraform.tfvars
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
tfplan

# Secrets & credentials
.env
*.pem
*.key
kubeconfig
kubeconfig.*
.kube/

# ArgoCD
argocd-password.txt

# AWS
.aws/
credentials

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
